<div id="container">
  <div class="left-menu">
    <span class="left-menu-navbar">
      <a routerLink="projects" routerLinkActive="active">Projects</a>
    <a routerLink="upload" routerLinkActive="active">Upload</a>
    <a routerLink="account" routerLinkActive="active">Account</a>
    <a routerLink="create" routerLinkActive="active">Create project</a>
  </span>
  </div>
  <div id="inner-flex-container">
    <span class="header">MENU COMPONENT</span>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
    <span class="footer">vVVVVVVv</span>
  </div>
</div>
