#inner-flex-container {
  display: grid;
  grid-template-rows: 10% 90% 10%;
}

#container{
  display: grid;
  grid-template: 10% 50% 40%/15% 90%;
}

.left-menu-navbar{
  padding: 1rem 0;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(4,1fr);
}

.left-menu-navbar a {
  text-align: center;
  background: #22cc37;
  border: 1px solid #020101;
}

.left-menu-navbar a:hover{
  background: #3d72ee;
}



.left-menu {
  background: pink;
}

.header {
  background: tomato;
}

.outlet {
  background: deepskyblue;
}

.footer {
  background: lightgreen;
}
